@import './components/3d-editor/ClippingSlider/clippingSlider'; 
@import './components/3d-editor/Container/container'; 
@import './page/greeting-page/greeting-page';

* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ccc;
    /* background-color: #272730; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  
  #three {
    flex: 1;
  }
  
  #two {
    width: 400px;
    background: white;
    padding: 20px;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
      segoe ui, arial, sans-serif;
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background: rgb(244, 246, 249);
    color: rgb(183, 183, 183);
  }
  
  #root > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  #root > div > div {
    font-weight: 600;
    font-size: 8em;
    will-change: opacity;
  }
  


  .container {
    position: relative;
    z-index: 10;
    font-weight: 600;
    font-size: 2.5em;
    width: 90%;
  }
  
  .container > span {
    cursor: pointer;
    margin-right: 0.15em;
  }
  
  .item {
    opacity: 0.2;
  }
  
  span.active,
  .item:hover {
    text-decoration-skip-ink: none;
    text-underline-offset: 0.07em;
    text-decoration: underline;
  }
  